* {
	padding: 0px;
	margin: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mainSection {
	width: 97%;
}
.header {
	border-top: 3px solid hsl(27, 90%, 50%);
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.stackLogo {
	padding-top: 11px;
	padding-left: 7px;
	padding-right: 11px;
	cursor: pointer;
}
.stackLogo:hover {
	background-color: hsl(210, 8%, 85%);
	border-radius: 5px;
}
.logo {
	color: #1B75D0;
	height: 30px;
	width: 150px;
}

.logoBetween {
	gap: 10px;
}

.headerTopics {
	color: #636B74;
	font-size: 13px;
	font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
}
.topics {

	padding: 5px 10px;
	border-radius: 21px;
}

.topicsSecond {
	//padding: 5px 10px;
	width: 62px;
	border-radius: 21px;
}

.topics:hover {
	background-color: hsl(210, 8%, 90%);
}
.searchBox {
	width: 700px;
	border-radius: 8px;
	border: 1px solid #C0C0C0;
	margin-top: 13px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.searchBox input {
	font-size: 13px;
	outline: none;
	border-style: none;
	background-color: #FFFFFF;
	color: black;
}
.userBox span {
	color: #636B74;
	font-size: 25px;
}
.searchIcon {
	color: black;
	margin-right: 1px;
	margin-left: 4px;
	padding: 5px;
}
.headerEnd {
	gap: 10px;
	cursor: pointer;
}
.login {
	font-size: 13px;
	//padding: 5px 10px;
	height: 25px;
	border-radius: 5px;
	color: #1B75D0;
	border: 1px solid #1b75d0;
	//margin-left: 18px;
	width: 50px;
}
.login p {
	margin-top: 0px;
	padding-left: 7px;
}
.login:hover {
	background-color: hsl(206, 96%, 90%);

}
.signup {
	font-size: 13px;
	//padding: 5px 10px;
	background-color: #1b75d0;
	height: 25px;
	border-radius: 5px;
	color: #ffffff;
	width: 50px;
}
.signup p {
	padding-left: 3px;
}
.signup:hover {
	background-color: hsl(210, 80%, 23%);

}
.headerLeftIcons {
	border-right: 2px solid #ddd;
	/*height: 600px;
	width: 190px;*/
	border-bottom: 2px solid #ddd;
}
.headerLeftFirst {
	margin-top: 21px;
	margin-left: 39px;
	font-size: 13px;
	gap: 14px;
}
.homeSection {
	gap: 7px;
	cursor: pointer;
}
.homeSection svg {
	fill: hsl(210, 8%, 25%);
}
.homeTxt {
	color: hsl(210, 8%, 25%);
}
.homeSection svg:hover {
	fill: hsl(210, 8%, 5%);
}
.homeTxt:hover {
	color: hsl(210, 8%, 5%);
}
.questionSection {
	gap: 7px;
	cursor: pointer;
}
.questionSection svg {
	fill: hsl(210, 8%, 25%);
}
.questionTxt {
	color: hsl(210, 8%, 25%);
}
.questionTxt:hover {
	color: hsl(210, 8%, 5%);
}
.questionSection svg:hover {
	fill: hsl(210, 8%, 5%);
}
.tagsSection {
	gap: 7px;
	cursor: pointer;
}
.tagsSection svg {
	fill: hsl(210, 8%, 25%);
}
.tagsTxt {
	color: hsl(210, 8%, 25%);
}
.tagsSection svg:hover {
	fill: hsl(210, 8%, 5%);
}
.tagsTxt:hover {
	color: hsl(210, 8%, 5%);
}
.headerLeftSecond {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 28px;
	gap: 11px;
}
.usersSection {
	gap: 7px;
	width: 89%;
	height: 25px;
	bordr-radius: 5px;
	background-color: hsl(0, 0%, 95%);
	padding: 5px;
	outline: none;
	border-style: none;
	cursor: pointer;
}
.companiesSection {
	gap: 7px;
	margin-left: 4px;
	cursor: pointer;
}
.companiesSection svg {
	fill: hsl(210, 8%, 25%);
}
.companiesTxt {
	color: hsl(210, 8%, 25%);
}
.companiesSection svg:hover {
	fill: hsl(210, 8%, 5%);
}
.companiesTxt:hover {
	color: hsl(210, 8%, 5%);
}
.headerLeftThird {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 25px;
	gap: 17px;
}
.labsSection {
	gap: 86px;
	margin-left: 4px;
	cursor: pointer;
}
.labsSection svg {
	fill: hsl(210, 8%, 25%);
}
.labsTxt {
	font-weight: 500;
}
.labsSection svg:hover {
	fill: hsl(210, 8%, 5%);
}
.discussionsSection {
	gap: 7px;
	margin-left: 4px;
	cursor: pointer;
}
.discussionsSection svg {
	fill: hsl(210, 8%, 25%);
}
.discussionsTxt {
	color: #3b4045;
}
.discussionsTxt:hover {
	color: hsl(210, 8%, 5%);
}
.headerLeftFourth {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 27px;
	gap: 15px;
}

.collectivesSection {
	gap: 38px;
	margin-left: 4px;
	cursor: pointer;
}

.collectivesSection svg {
	fill: hsl(210, 8%, 25%);
}

.collectivesTxt {
	font-weight: 500;
}

.collectivesSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.exploreSection {
	gap: 7px;
	margin-left: 4px;
	cursor: pointer;
}

.exploreSection svg {
	fill: hsl(27, 90%, 55%)
}

.exploreTxt {
	color: #3b4045;
}

.exploreTxt:hover {
	color: hsl(210, 8%, 5%);
}

.headerLeftFifth {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 20px;
}

.teamsTxt {
	font-weight: 500;
}

.userImage img {
	//margin-left: 43px;
	margin-top: 15px;
	cursor: pointer;
}


.userName {
	font-size: 34px;
	margin-left: 5px;
	/*width: 200px;*/
	margin-top: 22px;
}


.userDate {

	font-size: 13px;
	color: hsl(210, 8%, 42%);
	margin-top: 13px;
}

.userDate svg {
	fill: hsl(210, 8%, 42%);
	cursor: default;
}

.userYear {
	gap: 5px;

}

.lastSeen {
	gap: 6px;
	//padding-left: 6px;
}

.lastSeen svg {
	gap: 3px;
	cursor: default;
}

.icons {

	font-size: 13px;
	//gap: 12px;
	color: hsl(210, 8%, 42%);
	height: 45px;
}

.userIcons {
	gap: 5px;

}

.location {
	gap: 5px;
}

.icons svg {
	fill: hsl(210, 8%, 42%);
}

.twitter svg {
	cursor: pointer;
}

.github svg {
	cursor: pointer;
}

.csharpTxt {
	cursor: pointer;
}


.profileButton button {

	font-size: 12px;
	width: 74.45px;
	border: 1px solid #ddd;
	height: 35.03px;
	padding-left: 10px;
	border-radius: 7px;
}

.profileButton span {
	position: relative;
	top: 2px;
}

.headerSecond {

	font-size: 13px;
	gap: 5px;
}

.profilesBtn {
	font-size: 13px;
	padding: 5px 10px;
	height: 21px;
	border-radius: 21px;
	color: #ffffff;
	margin-left: 10px;
	margin-top: 10px;
	background-color: hsl(27, 90%, 55%);
	cursor: pointer;
}

.profilesBtn:hover {
	background-color: hsl(27, 87%, 41%);
}

.activityBtn {
	font-size: 13px;
	padding: 5px 10px;
	height: 21px;
	border-radius: 21px;
	margin-top: 10px;
	cursor: pointer;
}

.activityBtn:hover {
	background-color: hsl(0, 0%, 84%);
}

.secondmainLeftPart {

	margin-top: 15px;
}

.statsPart h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.statsInside {
	border-radius: 10px;
	border: 1px solid #ddd;
	font-size: 13px;
	color: #636b74;
}


.trophyLogo svg {
	fill: #636b74;
}

.numbers {
	font-size: 17px;
	color: #0c0d0e;
}

.collectivesPart {
	margin-top: 15px;

}

.collectivesPart h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.collectivesPartInside {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top: 12px;
	height: 66px;
	font-size: 13px;
	cursor: pointer;
}

.collectivesImg {

	margin-left: 1px;
}

.cloudTxt {
	margin-left: 16px;
}

.cloudDate {
	margin-top: 5px;
}

.communitiesPart {

	margin-top: 20px;
}

.communitiesPart h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.viewPart {

	font-size: 13px;
	margin-left: 55px;


}

.viewPart p {
	cursor: pointer;
}

.viewPart p:hover {
	color: hsl(210, 8%, 25%);
}

.viewPart svg {
	margin-left: 4px;
	margin-top: 5px;
	cursor: pointer;
}

.viewPart svg:hover {
	fill: hsl(210, 8%, 25%);
}

.communitiesPartInside {

	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top: 12px;

	font-size: 13px;
	cursor: pointer;
}

.firstPart {

	padding: 3px;
}

.txtFi {
	margin-right: 76px;
	color: #1B75D0;
}

.txtFi:hover {
	color: hsl(210, 77%, 36%);
}

.txtSe {
	margin-right: 45px;
	color: #1B75D0;
}

.txtSe:hover {
	color: hsl(210, 77%, 36%);
}

.txtTh {
	margin-right: 106px;
	color: #1B75D0;
}

.txtTh:hover {
	color: hsl(210, 77%, 36%);
}

.txtFo {
	margin-right: 100px;
	color: #1B75D0;
}

.txtFo:hover {
	color: hsl(210, 77%, 36%);
}

.txtFif {
	margin-right: 45px;
	color: #1B75D0;
}

.txtFif:hover {
	color: hsl(210, 77%, 36%);
}

.num {
	color: #636B74;
}


.aboutTitle {

	margin-top: 17px;
	/*margin-left: 25px;*/
}

.aboutTitle h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.authorTxt {
	margin-top: 10px;
	color: #3B4045;
	font-size: 15px;
}

.authorTxt a {
	color: #1B75D0;
}

.authorTxt a:hover {
	color: hsl(210, 77%, 36%);
}

.authorDetails {
	/*width: 540px;*/
	margin-top: 18px;
	color: #3B4045;
	font-size: 15px;
}

.sites {
	padding-top: 20px;
	color: #3B4045;
	font-size: 15px;
}

.listContents {
	margin-left: 29px;
	margin-top: 16px;
	color: #3B4045;
	font-size: 15px;
}

.listContents a {
	color: #1B75D0;
}

.listContents a:hover {
	color: hsl(210, 77%, 36%);
}

.listSetSecond {
	padding-top: 8px;
	color: #3B4045;


}

.listSetThird {
	padding-top: 8px;
	color: #3B4045;

}

.listSetFourth {
	padding-top: 8px;
	color: #3B4045;

}

.listSetFifth {
	padding-top: 8px;
	color: #3B4045;

}

.readBtn {


	margin-top: 14px;
	border: 1px solid #ddd;
	height: 18px;
	padding-left: 7px;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-top: 3px;
	cursor: pointer;
	width: 70px;
	height: 28px;
	cursor: pointer;
}

.readTxt {
	font-size: 11px;
	color: #3b4045;
}
.dot {
    height: 6.5px;
    width: 6.5px;
    margin-top: 5px;
    border-radius: 5px;
}

.iconTitle {
    font-size: 11px;
    border-radius: 6px;
    color: #525960;
    background-color: #f1f2f3;
}

.badgesDate {
    color: hsl(210, 8%, 25%);
    font-size: 11px;
}

.tag-dot {
    background-color: #FFD700;
    margin: 10px 6px 6px 7px;
}
.badgesCard{
	border:1px solid #ddd;
	border-radius:5px;
}
.ThirdMainRightPart {
	
	margin-top: 20px;
}

.topTagsTxt h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
	margin-left: 25px;
}



.viewallTags {
	font-size: 13px;
	margin-top: 14px;
	color: #636B74;
	cursor: pointer;
}

.viewallTags:hover {
	color: hsl(210, 8%, 25%);
}

.firstBox {
	border: 1px solid #ddd;
	
	border-radius: 5px;
	
	margin-top: 13px;

}

.firstBoxInside {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
	
}



.goldIcon {
	border: 1px solid black;
	width: 6px;
	height: 5px;
	border-radius: 50px;
	margin-top: 8px;
	background-color: hsl(43, 85%, 50%);
	border-style: none;
	margin-left: 5px;
}


.firstNum {
	
	gap: 5px;
}

.firstNum h3 {
	font-size: 17px;
	color: #0C0D0E;
	font-weight: 400;
}

.firstNumTxt {
	font-size: 13px;
	
	color: #636B74;
}

.secondNum {
	display: flex;
	gap: 5px;
}

.secondNum h3 {
	font-size: 17px;
	color: #0C0D0E;
	font-weight: 400;
	padding-left: 11px;
}

.secondNumTxt {
	font-size: 13px;
	
	color: #636B74;
}



.thirdNum h3 {
	font-size: 17px;
	color: #0C0D0E;
	font-weight: 400;
	padding-left: 7px;
}

.thirdNumTxt {
	font-size: 13px;
	
	color: #636B74;
}

.cHash {
	
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 6px;
	padding-right: 4px;
	padding-bottom: 3px;
	border-style: none;
	background-color: hsl(210, 80%, 96%);
	color: hsl(210, 80%, 23%);
	cursor: pointer;
	font-size: 13px;
}

.cHash:hover {
	background-color: hsl(210, 80%, 91%);
}

.firstBoxInsideSecond {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
	
}

.java {
	
	border: 1px solid black;
	padding-left: 5px;
	font-size: 13px;
	border-radius: 5px;
	background-color: hsl(210, 80%, 96%);
	color: hsl(210, 80%, 23%);
	cursor: pointer;
	border-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.java:hover {
	background-color: hsl(210, 80%, 91%);
}



.firstBoxInsideThird {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
	
}

.dotnet {
	
	border: 1px solid black;
	padding-left: 5px;
	font-size: 13px;
	border-radius: 5px;
	background-color: hsl(210, 80%, 96%);
	color: hsl(210, 80%, 23%);
	cursor: pointer;
	border-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dotnet:hover {
	background-color: hsl(210, 80%, 91%);
}



.firstBoxInsideFourth {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
	
}

.linq {
	
	border: 1px solid black;
	padding-left: 5px;
	font-size: 13px;
	border-radius: 5px;
	background-color: hsl(210, 80%, 96%);
	color: hsl(210, 80%, 23%);
	cursor: pointer;
	border-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.linq:hover {
	background-color: hsl(210, 80%, 91%);
}

.numSectionFourth {
	display: flex;

}

.firstBoxInsideFifth {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
	justify-content: space-between;
}

.string {
	
	border: 1px solid black;
	padding-left: 5px;
	font-size: 13px;
	border-radius: 5px;
	background-color: hsl(210, 80%, 96%);
	color: hsl(210, 80%, 23%);
	cursor: pointer;
	border-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.string:hover {
	background-color: hsl(210, 80%, 91%);
}



.firstBoxInsideSixth {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
	
}

.generics {
	
	border: 1px solid black;
	padding-left: 5px;
	font-size: 13px;
	border-radius: 5px;
	background-color: hsl(210, 80%, 96%);
	color: hsl(210, 80%, 23%);
	cursor: pointer;
	border-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.generics:hover {
	background-color: hsl(210, 80%, 91%);
}

.numSectionSixth {
	display: flex;
}


.topPostsTxt h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
	
}

.viewallNxtPart {
	font-size: 13px;
	
}

.viewallNxtPart a {
	text-decoration: none;
	color: #1B75D0;
}

.viewallNxtPart a:hover {
	color: hsl(210, 77%, 36%);
}

.boxContents {
	margin-top: 11px;
}

.boxFirst {
	display: flex;
	gap: 10px;
	font-size: 11px;
	border: 1px solid #ddd;
	border-radius: 5px;
	
	cursor: pointer;
	height: 28px;
}

.allBox {
	border-right: 1px solid #ddd;
	width: 28px;
	padding-top: 5px;
	background-color: hsl(210, 8%, 90%);
}

.allTxt {
	padding-left: 9px;
}

.quesBox {
	padding-top: 5px;
	padding-right: 5px;
	
}

.ansBox {
	padding-top: 6px;
	
	width: 51px
}

.artBox {
	padding-top: 6px;
	width: 47px;

}

.boxSecond {
	
	gap: 5px;
	font-size: 11px;
	border: 1px solid #ddd;
	border-radius: 5px;
	height: 28px;
	margin-left: 11px;
	cursor: pointer;
}

.scoreBox {
	
	width: 39px;
	padding-top: 5px;
	background-color: hsl(210, 8%, 90%);
}

.scoreTxt {
	padding-left: 9px;
}

.newestBox {
	padding-top: 5px;
	padding-right: 5px;
	
}

.secondMainBox {
	border: 1px solid #ddd;
	
	border-radius: 5px;
	
	margin-top: 13px;

}

.secondMainBoxInside {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}



.numSet {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 2px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 5px;
	font-size: 13px;
	background-color: hsl(148, 70%, 31%);
	border-style: none;
	color: white;
	margin-bottom: 5px;
}

.numSetThird {

	border: 1px solid #ddd;
	color: #0C0D0E;
	border-radius: 3px;
	padding-left: 4px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 5px;
	font-size: 13px;
	margin-bottom: 5px;


}



.sentence {
	font-size: 14px;
	padding-left: 18px;
	color: hsl(210, 77%, 46%);
	cursor: pointer;
}

.sentence:hover {
	color: hsl(209, 100%, 32%);
}

.sentenceFt {
	font-size: 14px;
	padding-left: 12px;
	color: hsl(210, 77%, 46%);
	cursor: pointer;
}

.sentenceFt:hover {
	color: hsl(209, 100%, 32%);
}

.sentenceThird {
	font-size: 14px;
	padding-left: 12px;
	color: hsl(210, 77%, 46%);
	cursor: pointer;
}

.sentenceThird:hover {
	color: hsl(209, 100%, 32%);
}

.yearSet {
	margin-bottom: 5px;
	font-size: 13px;
	color: hsl(210, 8%, 42%);
}

.secondMainBoxInsideSecond {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideThird {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideFourth {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideFifth {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideSixth {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideSeventh {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideEight {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideNine {
	
	border-bottom: 1px solid #ddd;
	
	padding: 13px;
}

.secondMainBoxInsideTen {
	
	padding: 13px;
}


.topMetaTxt h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
	
}

.topMetaRight {
	
	margin-top: 7px;
}

.quesPart {
	display: flex;
	
	font-size: 13px;
	color:#636B74;
}



.ansPart {
	
	font-size: 13px;
	color:#636B74;

}


.thirdMainBox {
	border: 1px solid #ddd;
	
	border-radius: 5px;
	
	margin-top: 5px;

}

.thirdMainBoxInside {
	
	border-bottom: 1px solid #ddd;
	padding: 13px;
	
}

.logoNum {
	
	gap: 7px;
}


.numSets {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 5px;
	font-size: 13px;

	color: #0c0d0e;
	
}

.secondSentence {
	cursor: pointer;
	font-size: 15px;
	padding-left: 18px;
	color: hsl(210, 77%, 46%);
}

.secondSentence:hover {
	color: hsl(209, 100%, 32%);
}

.thirdMainBoxInside {
	
	border-bottom: 1px solid #ddd;
	padding: 13px;
	
}

.thirdMainBoxInsideLast {
	padding: 13px;
	
}


.topNetworkTxt h3 {
	font-size: 20px;
	color: #0c0d0e;
	font-weight: 400;
	
}

.viewallNetwork {
	font-size: 12px;
	color: #636B74;
	cursor: pointer;
}

.viewallNetwork:hover {
	color: hsl(210, 8%, 25%);
}

.fourthMainBox {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 5px;

}

.fourthMainBoxInside {
	border-bottom: 1px solid #ddd;
	padding: 13px;
}

.logosNum {
	gap: 7px;
}

.numsSets {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 5px;
	font-size: 13px;
	color: #0c0d0e;
	
}

.secondSentences {
	cursor: pointer;
	font-size: 15px;
	padding-left: 18px;
	color: hsl(210, 77%, 46%);
}

.secondSentences:hover {
	color: hsl(209, 100%, 32%);
}

.fourthMainBoxInsideLast {
	padding: 13px;
	
}