* {
	padding: 0px;
	margin: 0px;
}


body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainSection {
	width: 100%;
}

.header {
	border-top: 3px solid hsl(27, 90%, 50%);
	width: 100%;
	border-bottom: 1px solid #ddd;

}

.stackLogo {

	padding-top: 11px;
	padding-left: 7px;
	padding-right: 11px;
	cursor: pointer;
}

.stackLogo:hover {
	background-color: hsl(210, 8%, 85%);
	border-radius: 5px;
}

.logo {
	color: #1B75D0;
	height: 30px;
	width: 150px;
}
.logoBetween{
	gap:10px;
}

.headerTopics {
	color: #636B74;
	font-size: 13px;
	font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
	
	
}

.topics {
	
	padding: 5px 10px;
	border-radius: 21px;
}
.topicsSecond {
	//padding: 5px 10px;
	width:62px;
	border-radius: 21px;
}

.topics:hover {
	background-color: hsl(210, 8%, 90%);
}
.searchBox {
	
	width: 700px;
	border-radius: 8px;
	border: 1px solid #C0C0C0;
	margin-top: 13px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.searchBox input {
	font-size: 13px;
	outline: none;
	border-style: none;
	background-color: #FFFFFF;
	color: black;
}

.userBox span {
	color: #636B74;
	font-size: 25px;
}

.searchIcon {
	color: black;
	margin-right: 1px;
	margin-left: 4px;
	padding: 5px;
}

.headerEnd {
	gap: 10px;
	cursor: pointer;
}

.login {
	font-size: 13px;
	//padding: 5px 10px;
	height: 25px;
	border-radius: 5px;
	color: #1B75D0;
	border: 1px solid #1b75d0;
	//margin-left: 18px;
	width:50px;
	
}
.login p{
	margin-top:0px;
	padding-left:7px;
}

.login:hover {
	background-color: hsl(206, 96%, 90%);
	
}

.signup {
	
	font-size: 13px;
	//padding: 5px 10px;
	background-color: #1b75d0;
	height: 25px;
	border-radius: 5px;
	color: #ffffff;
	width:50px;
	
}
.signup p{
	padding-left:3px;
}

.signup:hover {
	background-color: hsl(210, 80%, 23%);
	
}

.headerLeftIcons {
	
	border-right: 2px solid #ddd;
	height: 600px;
	width: 190px;
	border-bottom: 2px solid #ddd;
}

.headerLeftFirst {
	margin-top: 21px;
	margin-left: 39px;
	font-size: 13px;
	gap: 14px;
}

.homeSection {
	gap: 7px;
	cursor: pointer;
}

.homeSection svg {
	fill: hsl(210, 8%, 25%);
}

.homeTxt {
	color: hsl(210, 8%, 25%);
}

.homeSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.homeTxt:hover {
	color: hsl(210, 8%, 5%);
}

.questionSection {
	gap: 7px;
	cursor: pointer;
}

.questionSection svg {
	fill: hsl(210, 8%, 25%);
}

.questionTxt {
	color: hsl(210, 8%, 25%);
}

.questionTxt:hover {
	color: hsl(210, 8%, 5%);
}

.questionSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.tagsSection {
	gap: 7px;
	cursor: pointer;
}

.tagsSection svg {
	fill: hsl(210, 8%, 25%);
}

.tagsTxt {
	color: hsl(210, 8%, 25%);
}

.tagsSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.tagsTxt:hover {
	color: hsl(210, 8%, 5%);
}

.headerLeftSecond {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 28px;
	gap: 11px;

}

.usersSection {
	gap: 7px;
	width: 89%;
	height: 25px;
	bordr-radius: 5px;
	background-color: hsl(0, 0%, 95%);
	padding: 5px;
	outline: none;
	border-style: none;
	cursor: pointer;

}

.companiesSection {
	gap: 7px;
	margin-left: 4px;
	cursor: pointer;
}

.companiesSection svg {
	fill: hsl(210, 8%, 25%);
}

.companiesTxt {
	color: hsl(210, 8%, 25%);
}

.companiesSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.companiesTxt:hover {
	color: hsl(210, 8%, 5%);
}

.headerLeftThird {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 25px;
	gap: 17px;
}

.labsSection {
	gap: 86px;
	margin-left: 4px;
	cursor: pointer;
}

.labsSection svg {
	fill: hsl(210, 8%, 25%);
}

.labsTxt {
	font-weight: 500;
}

.labsSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.discussionsSection {
	gap: 7px;
	margin-left: 4px;
	cursor: pointer;
}

.discussionsSection svg {
	fill: hsl(210, 8%, 25%);
}

.discussionsTxt {
	color: #3b4045;
}

.discussionsTxt:hover {
	color: hsl(210, 8%, 5%);
}

.headerLeftFourth {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 27px;
	gap: 15px;
}

.collectivesSection {
	gap: 38px;
	margin-left: 4px;
	cursor: pointer;
}

.collectivesSection svg {
	fill: hsl(210, 8%, 25%);
}

.collectivesTxt {
	font-weight: 500;
}

.collectivesSection svg:hover {
	fill: hsl(210, 8%, 5%);
}

.exploreSection {
	gap: 7px;
	margin-left: 4px;
	cursor: pointer;
}

.exploreSection svg {
	fill: hsl(27, 90%, 55%)
}

.exploreTxt {
	color: #3b4045;
}

.exploreTxt:hover {
	color: hsl(210, 8%, 5%);
}

.headerLeftFifth {
	margin-left: 35px;
	font-size: 13px;
	margin-top: 20px;
}

.teamsTxt {
	font-weight: 500;
}

.userImage img {
	//margin-left: 43px;
	margin-top: 15px;
	cursor: pointer;
}


.userName {
	font-size: 34px;
	margin-left: 5px;
	width: 200px;
	margin-top: 22px;
}



.userDate {
	
	font-size: 13px;
	color: hsl(210, 8%, 42%);
	margin-top: 13px;
}

.userDate svg {
	fill: hsl(210, 8%, 42%);
	cursor: default;
}

.userYear {
	gap: 5px;

}

.lastSeen {
	gap: 6px;
	//padding-left: 6px;
}

.lastSeen svg {
	gap: 3px;
	cursor: default;
}

.icons {
	
	font-size: 13px;
	//gap: 12px;
	color: hsl(210, 8%, 42%);
	height: 45px;
}

.userIcons {
	gap: 5px;

}

.location {
	gap: 5px;
}

.icons svg {
	fill: hsl(210, 8%, 42%);
}

.twitter svg {
	cursor: pointer;
}

.github svg {
	cursor: pointer;
}

.csharpTxt {
	cursor: pointer;
}



.profileButton button {
	right: 60px;
	font-size: 12px;
	width: 74.45px;
	border:1px solid #ddd;
	height: 35.03px;
	padding-left: 10px;
	position:absolute;
	top:74px;
	border-radius:7px;
}

.profileButton span {
	position: relative;
	top: 2px;
}

.headerSecond {
	//display: flex;
	font-size: 13px;
	gap: 5px;
}

.profilesBtn {
	font-size: 13px;
	padding: 5px 10px;
	height: 21px;
	border-radius: 21px;
	color: #ffffff;
	margin-left: 10px;
	margin-top: 10px;
	background-color: hsl(27, 90%, 55%);
	cursor: pointer;
}

.profilesBtn:hover {
	background-color: hsl(27, 87%, 41%);
}

.activityBtn {
	font-size: 13px;
	padding: 5px 10px;
	height: 21px;
	border-radius: 21px;
	margin-top: 10px;
	cursor: pointer;
}

.activityBtn:hover {
	background-color: hsl(0, 0%, 84%);
}

.secondmainLeftPart {
	
	margin-top: 15px;
}

.statsPart h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.statsInside {
	border-radius: 10px;
	border: 1px solid #ddd;
	font-size: 13px;
	color: #636b74;
}


.trophyLogo svg {
	fill: #636b74;
}

.numbers {
	font-size: 17px;
	color: #0c0d0e;
}

.collectivesPart {
	margin-top: 15px;

}

.collectivesPart h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.collectivesPartInside {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top: 12px;
	height: 66px;
	font-size: 13px;
	cursor: pointer;
}

.collectivesImg {
	//display: flex;
	margin-left: 1px;
}

.cloudTxt {
	margin-left: 16px;
}

.cloudDate {
	margin-top: 5px;
}

.communitiesPart {
	//display: flex;
	margin-top: 20px;
}

.communitiesPart h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.viewPart {
	
	font-size: 13px;
	margin-left: 55px;
	

}

.viewPart p {
	cursor: pointer;
}

.viewPart p:hover {
	color: hsl(210, 8%, 25%);
}

.viewPart svg {
	margin-left: 4px;
	margin-top: 5px;
	cursor: pointer;
}

.viewPart svg:hover {
	fill: hsl(210, 8%, 25%);
}

.communitiesPartInside {
	
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top: 12px;
	/*height: 150px;*/
	font-size: 13px;
	cursor: pointer;
}

.firstPart {
	
	padding: 3px;
}

.txtFi {
	margin-right: 85px;
	color: #1B75D0;
}

.txtFi:hover {
	color: hsl(210, 77%, 36%);
}

.txtSe {
	margin-right: 48px;
	color: #1B75D0;
}

.txtSe:hover {
	color: hsl(210, 77%, 36%);
}

.txtTh {
	margin-right: 109px;
	color: #1B75D0;
}

.txtTh:hover {
	color: hsl(210, 77%, 36%);
}

.txtFo {
	margin-right: 107px;
	color: #1B75D0;
}

.txtFo:hover {
	color: hsl(210, 77%, 36%);
}

.txtFif {
	margin-right: 54px;
	color: #1B75D0;
}

.txtFif:hover {
	color: hsl(210, 77%, 36%);
}

.num {
	color: #636B74;
}



.aboutTitle {
	
	margin-top: 17px;
	margin-left: 25px;
}

.aboutTitle h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
}

.authorTxt {
	margin-top: 10px;
	color: #3B4045;
	font-size:15px;
}

.authorTxt a {
	color: #1B75D0;
}

.authorTxt a:hover {
	color: hsl(210, 77%, 36%);
}

.authorDetails {
	width: 540px;
	margin-top: 18px;
	color: #3B4045;
	font-size:15px;
}

.sites {
	padding-top: 20px;
	color: #3B4045;
	font-size:15px;
}

.listContents {
	margin-left: 29px;
	margin-top: 16px;
	color: #3B4045;
	font-size:15px;
}

.listContents a {
	color: #1B75D0;
}

.listContents a:hover {
	color: hsl(210, 77%, 36%);
}

.listSetSecond {
	padding-top: 8px;
	color: #3B4045;


}

.listSetThird {
	padding-top: 8px;
	color: #3B4045;

}

.listSetFourth {
	padding-top: 8px;
	color: #3B4045;

}

.listSetFifth {
	padding-top: 8px;
	color: #3B4045;

}

.readBtn {
	
	
	margin-top: 14px;
	border: 1px solid #ddd;
	height: 18px;
	padding-left: 7px;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-top: 3px;
	cursor: pointer;
	width: 70px;
	height:28px;
	cursor: pointer;
}

.readTxt {
	font-size: 11px;
	color: #3b4045;
}

.secondmainRightSecondPart {
	
	margin-top: 47px;
}



.badgesTxt h3 {
	font-size: 21px;
	color: #0c0d0e;
	font-weight: 400;
	margin-left: 25px;
}

/*.badgesContents {
	display: flex;
	gap: 625px;
	align-items:baseline;
	justify-content:space-between;
}*/

.viewAll {
	font-size: 13px;
	margin-top: 14px;
	color: #636B74;
	cursor: pointer;
}

.viewAll:hover {
	color: hsl(210, 8%, 25%);
}

